body {
  max-width: 320px;
  margin: auto;
  background: rgb(255, 255, 255);
}

img {
  display: block;
  max-width: 87%;
  margin-left: 20px;
  margin-right: 20px;
}

header {
  background: black;
}

ul {
  margin-bottom: 45px;
}

.song {
  margin-left: 130px;
  margin-bottom: 30px;
  color: red;
}

p {
  margin-left: 20px;
}

h2 {
  margin-left: 20px;
  padding-top: 25px;
  font-family: Phudu;
  
}

.ashitaka-san {
  padding-left: 52px;
}

.masque-san {
  max-width: 30%;
  padding-left: 87px;
}

.esprit-foret {
  max-width: 50%;
  margin-top: 40px;
}

.gif-jo {
  max-width: 50%;
  padding-left: 118px;
  padding-right: 20px;
  padding-top: 65px;
  padding-bottom: 40px;
}

footer {
  text-align: center;
}

.legend-film {
  font-size: small;
  margin-top: 1px;
}

.legende-hayao {
  font-size: smaller;
  margin-bottom: 30px;
  margin-top: 1px;
}

.legende-jo {
  font-size: smaller;
  margin-bottom: 30px;
  margin-top: 1px;
}

.legende-affiche {
  font-size: smaller;
  margin-bottom: 25px;
  margin-top: 1px;
}

.mononoke-bloc {
  background: #a53e27;
}

.realisateur-bloc {
  background: #897fa1;
}

.musique-bloc {
  background: #f5f0e6;
}

.compositeur-bloc {
  background: #507a8c;
}

.intro-bloc{
  background: #060607;
}

.liste-musique {
  color: black;
  margin-bottom: 10px;
  padding-bottom: 35px;
}

.theme {
  color: white;
  font-family: Phudu;
  text-align: center;
  margin-right: 40px;
}

.totoro {
  margin-bottom: 10px;
}

.ashitaka-san-gif {
  margin-top: 20px;
}

.footer-bloc {
  background: #897fa1;
}
h4 {
  margin-top: 10px;
}

