body {
  max-width: 320px;
  margin: auto;
  background: rgb(0, 0, 0);
}

img {
  display: block;
  max-width: 87%;
  margin-left: 20px;
  margin-right: 20px;
}


header {
  background: black;
}

ul li {
  color: white;
  text-align: center;
}

ul {
  margin-bottom: 45px
}

main {
  background: #be3c20;
}

p {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 30px ;
}

h2 {
  margin-left: 20px;
  padding-top: 25px;
}

.gif-ponyo {
  border-top-left-radius: 30px;
  
}

.affiche-princesse-mononoke {
  padding-bottom: 25px;
}

s